body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inline-block {
  max-width: 1200px;
  margin: 0 auto;

  font: inherit;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 5px 0px 15px rgba(0, 1, 1, 0.2),
  -5px 0px 15px rgba(0, 1, 1, 0.2);
}

.button{
  display: inline-block;
  padding: 4px 18px;

  font: inherit;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: center;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-link {
  background-color: #81b3d2;
  border: none;
}

.button-link:hover,
.button-link:focus {
  background-color: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}


.button-filters {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-filters:hover,
.button-filters:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.main-navigation {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.main-header-logo {
  position: absolute;
  bottom: -10;
  width: 138px;
  height: 70px;
}

.main-logo {
  height: 508px;
  margin: 0;
  margin-bottom: 57px;
}

.site-navigation {
  width: 100%;
  margin: 0;
  padding: 0 6%;
  box-sizing: border-box;

  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;

}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation li {
  width: 20%;
  padding: 15px 0;
  text-align: left;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation li:nth-child(2)  {
 padding-left: 30px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 31px;
}

.site-navigation .current-link {
  color: #766357;
}

.features {
  text-align: center;
  margin-bottom: 35px;
}

.feature-info-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 27px;
}

.feature-info {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  margin: 0;
  margin-bottom: 51px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  /* align-items: flex-start;
  align-content: flex-start; */
}

.feature-item {
  flex-grow: 1;
  width: 33%;
  text-align: center;
  margin-bottom: 55px;
}


.feature-item-img{
  height: 76px;
  margin-bottom: 28px;
}

.feature-img {
  padding-top: 0;
  width: 66%;
  text-align: center;
  box-sizing: border-box;
}

.feature-img img{
  width: 100%;
  height: 100%;
}

.feature-item h3{
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  box-sizing: border-box;

  background-color: transparent;
}

.feature-item-allotted {
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item .feature-item-allotted:nth-child(2) {
  margin-bottom: 50px;
}

.feature-item-allotted h3{
  margin-top: 50px;
  margin-bottom: 24px;

  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-number {
  margin-bottom: 22px;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.catalog-item {
  width: 88%;
  margin-bottom: 60px;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  cursor: pointer;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:focus {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-title:active {
  color: #766357;
}

.hotel-info-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotel-item-image {
  margin-right: 3%;
}

.hotel-item-rating {
  margin-left: auto;
}

.search-hotels {

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.search-hotels-title {
  margin: 0;
  margin-bottom: 27px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotels-info {
  margin-bottom: 138px;
}

.search-hotels-map {
  position: relative;
  height: 473px;
}

.container-form{
  width: 47%;
  /* margin: 0 auto; */
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: -7.5%;
  margin-left: -23.5%;

  background-color: #ffffff;
}

.search-form-button {
  width: 100%;
  padding: 30px 24%;

  font-size: 21px;
  line-height: 26px;
}


.form-search {
  padding: 55px 10% 55px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;

  background-color: #ffffff;
  border-color: #ffffff;
}

.form-search p {
  margin: 0;
  margin-bottom: 27px;
}

.form-search label {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 3.5%;
  width: 21.3%;
}

.form-search input[type="text"] {
  box-sizing: border-box;
  text-align: left;
  padding: 8px 15px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  width: 66%;

  border: 2px solid #ffffff;
}

.form-search input[type="text"]::placeholder {
  color: #000000;
}

.form-search input[type="text"]:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.form-search input[type="text"]:focus {
  background-color: transparent;
  outline: 2px solid #ebebeb;
}

.button-calendar {
  display: inline-block;

  text-align: center;
  vertical-align: middle;
}

.button-calendar {
  fill: #cacaca;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.search-amount-people input[type="text"],
.search-amount-people input[type="text"] {
  width: 10%;
}

.search-amount-people .amount-children {
  margin-left: 12%;
  width: 8%;
  margin-right: 6.5%;
}

.button-minus {
  padding: 4px 13px;
  height: 10px;
  width: 12px;
  background-color: #ffffff;
  background-position: center;
  background-image: url(../img/minus1.png);
  background-repeat: no-repeat;
}

.button-minus:hover {
  background-color: #ffffff;
  background-image: url(../img/minus2.png);
}

.button-minus:focus{
  background-color: #ffffff;
  background-image: url(../img/minus3.png);
}

.button-plus {
  padding: 4px 13px;
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  background-position: center;
  background-image: url(../img/plus1.png);
  background-repeat: no-repeat;
}

.button-plus:hover {
  background-color: #ffffff;
  background-image: url(../img/plus2.png);
}

.button-plus:focus {
  background-color: #ffffff;
  background-image: url(../img/plus3.png);
}

.button-form-submit {
  width: 100%;
  padding: 15px 0 19px;
  font-size: 21px;
  line-height: 26px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 65px;
}

.breadcrumbs b{
  margin-left: 6%;
  margin-right: 4.2%;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.breadcrumbs-list {
  width: 30.5%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.breadcrumbs-current a {
  color: #81b3d2;
}

.breadcrumbs-bold {
  font-weight: 700;
}

.breadcrumbs-arrows {
  margin-left: auto;
  margin-right: 6%;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-position: center;
  background-image: url(../img/filters.jpg);
}

.filters fieldset {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  border: none;
  margin-bottom: 32px;
}

.filters fieldset:nth-child(2) {
  margin-left: 6%;
}

.filters-hotels {
  list-style: none;
}

.filters-type-housing {
  list-style: none;
}

.container-cost-value {
  text-align: center;
  padding: 5px 0;
  border: 2px solid #ffffff;
}

.filter-legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.footer-social {
  width: 12.5%;
  margin-right: 19%;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.main-footer {
  padding: 35px 0 35px;
  display: flex;
}

.footer-tag {
  width: 12%;
  margin-left: 11%;
  margin-right: 21%;
}
