body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.inline-block {
  font: inherit;
  color: #333333;

  background-color: #ffffff;
}

.button{
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: center;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline-style: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-link {
  background-color: #81b3d2;
  border: none;
}

.button-link:hover,
.button-link:focus {
  background-color: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}

.button-calendar {
  height: 22px;
  width: 21px;
  background-color: #ffffff;
  background-position: center;
  background-image: url(../img/calendar1.png);
}

.button-calendar:hover {
  background-color: #ffffff;
  background-image: url(../img/calendar.svg);
}

.button-calendar:focus {
  background-color: #ffffff;
  background-image: url(../img/calendar2.png);
}

.button-minus {
  height: 10px;
  width: 12px;
  background-color: #ffffff;
  background-position: center;
  background-image: url(../img/minus1.png);
  background-repeat: no-repeat;
}

.button-minus:hover {
  background-color: #ffffff;
  background-image: url(../img/minus2.png);
}

.button-minus:focus{
  background-color: #ffffff;
  background-image: url(../img/minus3.png);
}

.button-plus {
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  background-position: center;
  background-image: url(../img/plus1.png);
  background-repeat: no-repeat;
}

.button-plus:hover {
  background-color: #ffffff;
  background-image: url(../img/plus2.png);
}

.button-plus:focus {
  background-color: #ffffff;
  background-image: url(../img/plus3.png);
}

.button-filters {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-filters:hover,
.button-filters:focus {
  color: #000000; 
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation .current-link {
  color: #766357;
}

.feature-info-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.feature-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3{
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: transparent;
}

.feature-item-allotted{
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-allotted h3{
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item-footer {
  color: #000000;

  background-color: #eeeeee;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  cursor: pointer;
}

.catalog-item-title:hover {
  color: #81b3d2;
}

.catalog-item-title:focus {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-title:active {
  color: #766357;
}

.search-hotels {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-hotels b{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}


.form-search {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  border-color: #ffffff;
}

.form-search input[type="text"] {
  height: 38px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  border: 2px solid #ffffff;
}

.form-search input[type="text"]::placeholder {
  color: #000000;
}

.form-search input[type="text"]:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.form-search input[type="text"]:focus {
  background-color: transparent;
  outline: 2px solid #ebebeb;
}

.breadcrumbs b{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.breadcrumbs-list {
  list-style: none;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.breadcrumbs-current a {
  color: #81b3d2;
}

.breadcrumbs-bold {
  font-weight: 700;
}

.filters {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;

  background-position: center;
  background-image: url(../img/filters.jpg);
}

.filters fieldset {
  border: none;
}

.filters-hotels {
  list-style: none;
}

.filters-type-housing {
  list-style: none;
}
